/*
 *
 *		PAGES-STYLE.CSS
 *
 *	+ PAGE WRAPPER
 *	+ HEADER
 *	 - LOGO
 *	 - MENU
 *	 - MOBILE MENU
 *	 - STICKY
 *	+ PAGE CONTENT
 *	 - PAGE HEADER
 *	+ FOOTER
 *  + PAGES
 *	 - HOME
 *	 - ABOUT
 *	 - SERVICES
 *	 - PORTFOLIO
 *	 - BLOG
 *	 - CONTACT
 *	 - ELEMENTS
 */

/***********************************************************************************
 *	+ PAGE WRAPPER
 ***********************************************************************************/

 	#main-container {
		position: relative;
		overflow: hidden;
		background-color: #fff; 
	}
	
	.boxed {
		background: url(../images/bg-pattern-1.png) repeat top left;
	}
	
	.boxed #main-container {
		margin: 0 auto;
		position: relative;
		max-width: 1200px;
		-webkit-box-shadow: 0px 0px 5px #000;
				box-shadow: 0px 0px 5px #000;
	}
	
	.boxed .header-sticky {
		max-width: 1200px;
	}
	
	@media (min-width: 1400px) {
			
		.boxed #main-container,
		.boxed .header-sticky {
			max-width: 1350px;
		}
		
	}
 
/***********************************************************************************
 *	+ HEADER
 ***********************************************************************************/
 	
	#header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 9000;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	#header [class^="col-"] {
		position: static;
	}
	
	#header .container { position: relative; }
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#header { position: relative; }
		
	}
	
	@media (max-width: 767px) {
	
		#header { position: relative; }
		
	}
	
/***********************************************************************************
 *	- LOGO
 ***********************************************************************************/

	#logo {
		max-width: 100%;
		margin-top: 40px;
		padding: 40px 0 20px 0;
		-webkit-transition: all .3s linear;
				transition: all .3s linear;
	}
	
	#logo img {
		display: inline-block;
		margin-top: -3px;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#logo {
			margin-top: 0;
    		width: 240px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		#logo { 
			margin-top: 0;
    		width: 140px;
		}
		
	}

/***********************************************************************************
 *	- MENU
 ***********************************************************************************/
 	
 	.menu,
	.menu ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.menu {
		margin-top: 40px;
		float: right;
	}
	
	.menu > li { 
		float: left; 
	}
	
	.menu li a {
		display: block;
		color: #1f1f1f;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-decoration: none;
		-webkit-transition: all .3s linear;
				transition: all .3s linear;
	}
	
	.menu li a:hover,
	.menu li.active > a { color: #ca1954; }
	
	.menu > li > a {
		position: relative;
		margin: 0 25px;
		padding: 40px 0 20px 0;
		text-transform: uppercase;
	}
	
	.menu > li:first-child > a { margin-left: 0;}
	
	.menu > li:last-child > a { margin-right: 0; }
	
	.menu li.dropdown ul {
		position: absolute;
		top: 100%;
		display: none;
		z-index: 2000;
		width: 215px;
		border: 1px solid #fff;
		background-color: #fff;
		box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2);
	}
	
	.menu li.dropdown ul ul {
		top: -1px;
		left: 100%;
	}
	
	.menu li.dropdown:hover > ul { display: block; }
	
	.menu li.dropdown ul li a {
		border-bottom: 1px solid #fff;
		padding: 10px 20px;
	}
	
	.menu li.megamenu .megamenu-container {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		z-index: 2000;
		width: 100%;
		border: 1px solid #fff;
		background-color: #fff;
		box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2);
	}
	
	.megamenu-container .section {
		float: left;
		width: 25%;
		padding: 20px;
	}
	
	.megamenu-container.col-2 .section { 
		width: 50%; 
	}
	
	.megamenu-container.col-3 .section { 
		width: 33.33333333%; 
	}
	
	.megamenu-container.col-4 .section { 
		width: 25%; 
	}
	
	.megamenu-container.col-5 .section { 
		width: 20%; 
	}
	
	.megamenu-container .section > ul { margin: -20px; }
	
	.megamenu-container .section > ul li a {
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		padding: 10px 20px;
	}
	
	.megamenu-container .section > ul li:last-child a { border-bottom: none; }
	
	.menu li.megamenu:hover > .megamenu-container { display: block; }
	
	.sf-arrows .sf-with-ul:after {
		position: absolute;
		top: 50%;
		right: -20px;
		width: 0;
		height: 0;
		margin-top: 28px;
		content: "";
		border: 5px solid transparent;
		border-top-color: #000;
		display: none;
	}
		
	.sf-arrows > li:hover > .sf-with-ul:after { border-top-color: #999; }
		
	.sf-arrows ul .sf-with-ul:after {
		display: block;
		margin-top: -5px;
		margin-right: 35px;
		border-color: transparent;
		border-left-color: #000;
	}
	
	.sf-arrows ul li:hover > .sf-with-ul:after { border-left-color: #999; }
	
	@media (min-width: 768px) and (max-width: 991px) {
	
		.menu { display: none; }
		
	}
	
	@media (max-width: 767px) {
	
		.menu { display: none; }
		
	}
	
/***********************************************************************************
 *	- MOBILE MENU
 ***********************************************************************************/	
	
	#mobile-menu-button {
		float: right;
		display: none;
		background-color: #ca1954; 
		border-radius: 3px;
		color: #fff;
		font-size: 24px;
		line-height: 24px;
		margin-top: 20px;
		padding: 10px 15px;
		text-decoration: none;
	}
	
	#mobile-menu,
	#mobile-menu ul {
		list-style: none;
		display: none;
		margin: 0;
	}
	
	#mobile-menu {
		background-color: #ff90c1; 
		border-bottom: 1px solid #fff;
	}
	
	#mobile-menu li a {
		display: block;
		border-top: 1px solid #fff;
		color: #fff;
		padding: 10px 20px;
		text-decoration: none;
	}
	
	#mobile-menu > li > a {
		font-weight: 700;
		text-transform: uppercase;
	}
	
	#mobile-menu ul a {
		padding-left: 40px;
	}
	
	#mobile-menu ul ul a {
		padding-left: 60px;
	}
	
	#mobile-menu .megamenu-container {
	 	border-top: 1px solid #fff; 
		display: none;
		margin-left: 0;
	}
	
	#mobile-menu .megamenu-container .section {
		float: none;
		width: 100%;
		margin-bottom: -1px;
		padding: 0 20px 20px;
	}
	
	#mobile-menu .megamenu-container .section ul {
		display: block;
		margin: 0 -25px -20px;
		border-bottom: 1px solid #fff;
	}
	
	#mobile-menu .megamenu-container .section ul a {
	 	border-top: none; 
		padding-left: 40px;
	}
	
	#mobile-menu li.dropdown > a,
	#mobile-menu li.megamenu > a { 
		position: relative;
	}
	
	#mobile-menu li.dropdown > a:after,
	#mobile-menu li.megamenu > a:after {
		position: absolute;
		top: 50%;
		right: 20px;
		width: 0;
		height: 0;
		margin-top: -2px;
		content: "";
		border: 5px solid transparent;
		border-top-color: #fff;
	}
	
	#mobile-menu li.dropdown > a.open:after,
	#mobile-menu li.megamenu > a.open:after {
		border-top-color: transparent;
		border-bottom-color: #fff;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#mobile-menu-button {
			position: absolute;
			display: block;
			top: 0;
			right: 20px;
		}
		
	}
	
	@media (max-width: 767px) {
	
		#mobile-menu-button {
			position: absolute;
			top: 0;
			right: 20px;
			display: block;
		}
		
	}
	
/***********************************************************************************
 *	- SEARCH
 ***********************************************************************************/		
	.menu li.search {}
	
	.menu li.search a {}
	
	.menu li.search a i { 
		font-size: 24px; 
		font-weight: 700;
	}

	#search-form {
		position: absolute;
		top: 50%;
		width: 100%;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}
	
	#search-form-container {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		padding: 30px 0 20px;
		background: rgba(56, 56, 56, 0.97);
		text-align: center;
		-webkit-transform: rotateX(90deg);
			-ms-transform: rotateX(90deg);
				transform: rotateX(90deg);
		-webkit-transform-origin: 0 0 0;
			-ms-transform-origin: 0 0 0;
				transform-origin: 0 0 0;
		-webkit-transition: all 0.4s ease 0s; 
				transition: all 0.4s ease 0s;
	}
	
	#search-form-container.open-search-form {
		z-index: 9999;
		-webkit-transform: rotateX(0deg);
			-ms-transform: rotateX(0deg);
				transform: rotateX(0deg);
	}
	
	#search-form {}
	
	#search-form #search {
		background-color: #fff;
		border-color: #fff;
		display: inline-block;
		height: 50px;
		margin: 0 auto;
		padding: 10px 45px 10px 20px;
		width: 50%;
	}
	
	#search-submit {
		background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll center center;
		display: inline-block;
		margin-bottom: 0;
		margin-left: -40px;
		padding: 8px;
		vertical-align: middle;
		border: none;
	}
	
	#search-form #s:focus { border-color: #c1c1c1;}
	
	#search-form-container a.search-form-close {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 32px;
		height: 32px;
		border: 2px solid #fff;
		border-radius: 50%;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		-webkit-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
	}
	
	#search-form-container a.search-form-close:hover {
		background-color: #fff;
		border-color: #fff;
		color: #000dbf;
	}
	
/***********************************************************************************
 *	- STICKY
 ***********************************************************************************/
 	
	#header-sticky [class^="col-"] {
		position: static;
	}
	
	#header-sticky .container {
		position: relative;
	}

	#header-sticky {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		z-index: 8000; 
		background-color: #fff;
		box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2);
	}
	
	.header-sticky #logo {
		margin-top: 0;
		padding: 26px 0 20px 0;
		-webkit-transition: all .8s linear;
				transition: all .8s linear;
	}
	
	.header-sticky .menu { 
		margin-top: 5px; 
		-webkit-transition: all .8s linear;
				transition: all .8s linear;
	}
	
	.header-sticky .menu > li > a {
		padding: 20px 0 20px 0;
		-webkit-transition: all .8s linear;
				transition: all .8s linear;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#header-sticky { visibility: hidden; }
		
	}
	
	@media (max-width: 767px) {
		
		#header-sticky { visibility: hidden; }
		
	}

/***********************************************************************************
 *	+ PAGE CONTENT
 ***********************************************************************************/
	
	#page-content {}

/***********************************************************************************
 *	- PAGE HEADER
 ***********************************************************************************/
 	
	#page-header { 
		position: relative;
		margin-bottom: 110px;
		padding: 370px 0 45px 0; 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}
	
	#page-header h2 {
		color: #000dbf;
		text-transform: uppercase;
	}
	
	#page-header .breadcrumb {
		background-color: transparent;
		border-radius: 0;
		list-style: outside none none;
		margin-bottom: 0;
		padding: 0;
	}
	
	#page-header .breadcrumb li { display: inline-block; }
	
	#page-header .breadcrumb li 	{
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	#page-header .breadcrumb li a	{
		text-decoration: none;
		color: #1e1a19;
	}
	
	.breadcrumb > li + li:before {
		color: #1e1a19;
		content: "/ ";
		padding: 0 10px;
	}
	
	.breadcrumb > .active { color: #1e1a19; }
	
	@media (min-width: 768px) and (max-width: 991px) {

		#page-header { padding: 150px 0 100px; }
		
	}
	
	@media (max-width: 767px) {
		
		#page-header { padding: 70px 0; }
		
	}

/***********************************************************************************
 *	+ FOOTER TOP
 ***********************************************************************************/
 
 	#footer-top {
	    background-color: #ca1855;
	    border-bottom: 1px solid #e0366f;
		color: #e2e2e2;
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
	}
	
	#footer-top  a { color: #e2e2e2; }	
	
/***********************************************************************************
 *	+ FOOTER
 ***********************************************************************************/
 
 	#footer {
		padding: 40px 0 80px 0;
		background-color: #9c0b3d;
		color: #e2e2e2;
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
	}
	
	/*#footer  a { color: #e2e2e2; }*/
	
/***********************************************************************************
 *	+ FOOTER BOTTOM
 ***********************************************************************************/
 
 	#footer-bottom {
		position: relative;
		padding: 40px 0;
		border-top: 1px solid #ad1749;
		background-color: #670628;
		color: #e2e2e2;
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		text-align: center;
	}	
	
	#footer-bottom  a { color: #fff; }

/***********************************************************************************
 *	+ PAGES
 ***********************************************************************************/
/***********************************************************************************
 *	- INDEX
 ***********************************************************************************/
 


/***********************************************************************************
 *	- ABOUT
 ***********************************************************************************/
 
/***********************************************************************************
 *	+ TEAM
 ***********************************************************************************/	
 
	.about-me {
		margin-bottom: 100px; 
		text-align: center;
	}
	
	.about-me-thumbnail {
		position: relative; 
		margin-bottom: 60px;
	}
	
	.about-me-thumbnail-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 35px;
		content: "";
		background-color: #000dbf;
		text-align: center;
		opacity: 0;
		-webkit-transform: scale(0);
			-ms-transform: scale(0);
				transform: scale(0);
		-webkit-transition: all .3s;
				transition: all .3s;
		
	}
	
	.about-me-thumbnail-overlay  a {
		position: absolute;
		top: 50%; 
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
		color: #fff;
		font-weight: 700;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}
	
	.about-me-thumbnail-overlay  a:hover { text-decoration: none; }
	
	.about-me-thumbnail-overlay  span { text-transform: uppercase; }
	
	.about-me-details {}
	
	.about-me-details h4 {
		font-weight: 700;
	}
	
	.about-me-details h6 {
		font-size: 13px;
		color: #000dbf;
		text-transform: uppercase;
	}
	
	.about-me:hover .about-me-thumbnail-overlay {
		opacity: 1;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	
	@media (max-width: 767px) {
	
		.about-me-thumbnail img { width: 100%; }
		
	}
 
  
/***********************************************************************************
 *	- SERVICES
 ***********************************************************************************/
 
	.service-box { margin-bottom: 80px; }
 
/***********************************************************************************
 *	- SERVICE BOX STYLE 1
 ***********************************************************************************/

	.service-box.style-1 i {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 48px;
		color: #ff90c1;
		-webkit-transition: all .3s;
				transition: all .3s;
	}
	
	.service-box-content {}
	
	.service-box.style-1 .service-box-content h5 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.service-box.style-1 .service-box-content h5 a {
		color: #1e1a19;
		text-decoration: none;
		-webkit-transition: all .3s;
				transition: all .3s;
	}
	
	.service-box.style-1 .service-box-content h5 a:hover { color: #ff90c1; }
 
	.service-box.style-1:hover i {
		-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
				transform: scale(1.1);
	}

/***********************************************************************************
 *	- SERVICE BOX STYLE 2
 ***********************************************************************************/	
 
	.service-box.style-2 { text-align: right;}
 
	.service-box.style-2 i {
		display: inline-block;
		margin-bottom: 20px;
		padding: 10px;
		box-sizing: border-box;
		border-radius: 50em;
		font-size: 30px;
		color: #1e1a19;
		background-color: #e3e3e3;
		-webkit-transition: all .3s;
				transition: all .3s;
	}
	
	.service-box.style-2 .service-box-content {}
	
	.service-box.style-2 .service-box-content h6 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.service-box.style-2:hover i {
		color: #fff;
		background-color: #ff90c1;
	}
	
/***********************************************************************************
 *	- SERVICE BOX STYLE 3
 ***********************************************************************************/	
 
	.service-box.style-3 { 
		text-align: center;
		margin-bottom: 12px;
		padding: 50px 45px;
		box-sizing: border-box;
		background-color: #f2f3f8;
		-webkit-transition: all .3s;
				transition: all .3s;
	}
 
	.service-box.style-3 i {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 60px;
		color: #000dbf;
		-webkit-transition: all .3s;
				transition: all .3s;
	}
	
	.service-box.style-3 .service-box-content {}
	
	.service-box.style-3 .service-box-content h6 { margin-bottom: 0; }
	
	.service-box.style-3 .service-box-content h6 a {
		color: #000dbf;
		-webkit-transition: all .3s;
				transition: all .3s;
	}
	
	.service-box.style-3:hover { background-color: #000dbf; }

	.service-box.style-3:hover i,
	.service-box.style-3:hover h6 a { color: #fff;}	
 
/***********************************************************************************
 *	- PORTFOLIO
 ***********************************************************************************/
	
	.portfolio-item {
		margin-bottom: 0;
		overflow: hidden;
	}
	
	.portfolio-item-thumbnail {
		position: relative;
		overflow: hidden; 
	}
	
	.portfolio-item-thumbnail img {
		width: 100%;
		display: block;
		-webkit-transition: all .3s;
				transition: all .3s;
	}
	
	.portfolio-item-hover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		background-color: rgba(255, 144, 193, .8);
		opacity: 0;
		-webkit-transform: scale(0);
			-ms-transform: scale(0);
				transform: scale(0);
		-webkit-transition: all .3s;
				transition: all .3s;
	}
	
	.portfolio-item-hover .zoom-action {
		position: absolute;
		top: 10%;
		right: 20px;
		color: #fff;
		font-size: 60px;
		text-decoration: none;
	}
	
	.portfolio-item-hover .portfolio-item-description {
		position: absolute;
		top: 60%;
		right: 20px;
		text-align: right;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}
	
	.portfolio-item-description *:last-child { margin-bottom: 0; }
	
	.portfolio-item-description h4  { text-transform: uppercase; }
	
	.portfolio-item-hover .portfolio-item-description h4 a,
	.portfolio-item-hover .portfolio-item-description h6 {
			color: #fff; 
			opacity: 0;
			-webkit-transition: all .3s;
				transition: all .3s;
		}
	
	.portfolio-item:hover .portfolio-item-hover  {
		opacity: 1;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	
	.portfolio-item:hover .portfolio-item-description h4 a,
	.portfolio-item:hover .portfolio-item-description h6 { opacity: 1; } 
	
	.portfolio-item-thumbnail + .portfolio-item-description {
		margin: 50px 0;
		text-align: center;
	}
	
	.portfolio-item.portfolio-classic { margin-bottom: 80px; }
	
	.portfolio-item.portfolio-classic .portfolio-item-thumbnail {
		width: 66.6667%;
		float: left;
	}
	
	.portfolio-item.portfolio-classic .portfolio-item-thumbnail + .portfolio-item-description { margin: 30px 0; }
	
	.portfolio-item.portfolio-classic .portfolio-item-description {
		width: 33.3333%;
		float: left;
		padding-left: 30px;
		text-align: left;
	}
	
	.portfolio-item.portfolio-classic .portfolio-item-description h6 { margin-bottom: 30px; }
	
	.portfolio-item.portfolio-classic .portfolio-item-description .btn { margin-top: 20px; }
	 
	.portfolio-item.portfolio-classic:after {
		clear: both;
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}
	
	@media (min-width: 1200px) {
	
		.portfolio-item-hover .zoom-action {
			top: 20%;
			right: 60px;
			font-size: 100px;
		}
		
		.portfolio-item-hover .portfolio-item-description {
			right: 60px;
		}
	
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
	
		.portfolio-item-hover .zoom-action {
			font-size: 40px;
			top: 10%;
		}
		
		.portfolio-item-hover .portfolio-item-description h4 { 
			font-size: 15px; 
			line-height: 20px;
		}
		
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.portfolio-item-hover .zoom-action {
			font-size: 60px;
			right: 20px;
			top: 10%;
		}
	}
	
	@media (max-width: 991px) {
		
		.portfolio-item.portfolio-classic .portfolio-item-thumbnail {
			width: 100%;
			float: none;
		}
		
		.portfolio-item.portfolio-classic .portfolio-item-description {
			width: 100%;
			float: none;
			padding-left: 0;
			text-align: center;
		}
		
		.portfolio-item.portfolio-classic { margin-bottom: 40px; }
		
	}
	
/***********************************************************************************
 *	- BLOG
 ***********************************************************************************/
 	
	/* BLOG ARTICLE */
	.blog-article { 
		position: relative;
		margin-bottom: 60px; 
	}
	
	.blog-article-thumbnail { margin-bottom: 60px; }
	
	.blog-article-thumbnail img {}
	
	.blog-article > p + a.btn { margin-top: 60px; }
	
	.blog-article-details {}
	
	.blog-article-details h6 {
		margin-bottom: 6px;
		font-size: 13px;
		text-transform: uppercase;
		color: #000dbf;
	}
	
	.blog-article-details h2 {
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
	}
	
	.blog-article-details p { font-size: 13px; }
	
	.blog-article-details p span {
		display: inline-block;
		position: relative;
		top: 3px;
		margin: 0 15px;
		font-size: 20px;
		color: #000dbf;
	}
	
	.blog-article-details p span:first-of-type { margin-left: 0; }
	
	
	/* BLOG POST COMMENT */
	.commentlist-title {
		margin-top: 100px;
		margin-bottom: 60px;
		text-transform: uppercase;
	}
	
	.commentlist,
	.commentlist ul { list-style: none; }
	
	.commentlist { margin-bottom: 80px; }
	
	.commentlist ul { margin-left: 110px; }
	
	.commentlist li {}
	
	.comment-body {
		position: relative;
		margin-bottom: 60px;
		padding-left: 100px;
	}
	
	.comment-meta {}
	
	.comment-author,
	.comment-metadata,
	.reply {
		margin-bottom: 10px;
		padding: 0 10px;
		font-family: 'Montserrat', sans-serif;
	}
	
	.comment-author {
		display: inline-block;
		padding-left: 0;
	}
	
	.comment-author .avatar {
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 50%;
	}
	
	.comment-author .fn {
		text-transform: uppercase;
		color: #1e1a19;
		font-family: 'Montserrat', sans-serif;
	}
	
	.comment-author .says { display: none; }
	
	.comment-metadata { 
		position: relative;
		display: inline-block; 
	}

	.comment-metadata:before {
		position: absolute;
		left: -2px;
		content: "|";
		color: #000dbf;
	}
	
	.comment-metadata a {}
	
	.comment-content {}
	
	.reply {
		position: relative;
		display: inline-block;
	}
	
	.reply:before {
		position: absolute;
		left: -2px;
		content: "|";
		color: #000dbf;
	}
	
	@media (max-width: 767px) {
		
		.commentlist ul { margin-left: 50px; }
		
	}
	
	
	/* BLOG POST COMMENT FORM */
	.commentform-title { 
		margin-bottom: 60px;
		text-transform: uppercase; 
	}
	
	#commentform { margin-bottom: 100px; }
	
	#commentform label {}
	
	#commentform textarea, 
	#commentform input[type="url"], 
	#commentform input[type="text"], 
	#commentform input[type="email"] {
		width: 100%;
		margin-bottom: 10px;
		border: none;
		border-bottom: 1px solid #d2d2d2;
		font-style: italic;
		font-size: 12px;
	}
	
	#commentform input[type="text"],
	#commentform textarea {}
	
	#commentform textarea { margin-bottom: 45px; }
	
	#commentform input[type="submit"] {}


/***********************************************************************************
 *	- CONTACT
 ***********************************************************************************/ 	
 	
	#contact-form { margin: 30px 0; }
	
	#contact-form label {
		display: block;
	}
	
	#contact-form label.error {
		color: #f00;
	}
	
	#contact-form textarea,
	#contact-form input[type="text"],
	#contact-form input[type="email"] {
		margin-bottom: 20px;
		border: none;
		border-bottom: 1px solid #d2d2d2; 
		font-style: italic;
		font-size: 12px;
	}
	
	#contact-form textarea { margin-bottom: 45px; }
	
/***********************************************************************************
 *	- ELEMENTS
 ***********************************************************************************/ 
	
	.icons-list { list-style: outside none none; }
	
	.icons-list li {
		display: inline-block;
		min-height: 100px;
		padding: 10px;
		text-align: center;
		vertical-align: top;
		width: 13.7%;
	}
	
	.icons-list li i, .icons-list li .glyphicon { font-size: 20px; }
	
	.icons-list li .icon-name { display: block; }
	
	@media (min-width: 768px) and (max-width: 991px) {
		.icons-list li { width: 19%; }
	}
	
	@media (max-width: 767px) {
		.icons-list li { width: 49%; }
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.icons-list li { width: 32%; }
	}
	
	
	